source/node-red/example_flows/led_light/flows_led.json
[{"id":"a68b2b2c.26a1d8","type":"rpi-gpio out","z":"21c7e77e.82bb88","name":"Green LED","pin":"37","set":true,"level":"0","freq":"","out":"out","x":370,"y":140,"wires":[]},{"id":"4cc9f3a5.770e1c","type":"inject","z":"21c7e77e.82bb88","name":"On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":110,"y":100,"wires":[["a68b2b2c.26a1d8","6ccd24ae.3e587c"]]},{"id":"95ca6bbd.ce20f8","type":"inject","z":"21c7e77e.82bb88","name":"Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":110,"y":160,"wires":[["a68b2b2c.26a1d8","6ccd24ae.3e587c"]]},{"id":"6ccd24ae.3e587c","type":"debug","z":"21c7e77e.82bb88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":60,"wires":[]}]