source/node-red/example_flows/ultrasonic_sensor/flows_ultrasonic_sensor.json
[{"id":"2d86da05.e95f06","type":"delay","z":"21c7e77e.82bb88","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":440,"y":2480,"wires":[["5c6f2c43.af4584","7a6ff470.b46b8c"]]},{"id":"424878eb.0e1dd8","type":"http request","z":"21c7e77e.82bb88","name":"move motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":2480,"wires":[["2d86da05.e95f06","48026992.13c108"]]},{"id":"91241dfe.43eda","type":"http request","z":"21c7e77e.82bb88","name":"stop motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/stop?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":2480,"wires":[["118bd586.be262a"]]},{"id":"118bd586.be262a","type":"debug","z":"21c7e77e.82bb88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":2480,"wires":[]},{"id":"48026992.13c108","type":"debug","z":"21c7e77e.82bb88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":2440,"wires":[]},{"id":"b75215dd.ffb818","type":"inject","z":"21c7e77e.82bb88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":2480,"wires":[["424878eb.0e1dd8","56c992bd.c87efc"]]},{"id":"56c992bd.c87efc","type":"http request","z":"21c7e77e.82bb88","name":"move motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":2540,"wires":[["2d86da05.e95f06"]]},{"id":"2d8516aa.1fe55a","type":"http request","z":"21c7e77e.82bb88","name":"stop motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/stop?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":970,"y":2540,"wires":[["118bd586.be262a"]]},{"id":"261b2ca1.b9af94","type":"delay","z":"21c7e77e.82bb88","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":780,"y":2480,"wires":[["91241dfe.43eda","2d8516aa.1fe55a"]]},{"id":"5c6f2c43.af4584","type":"http request","z":"21c7e77e.82bb88","name":"move motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/reverse?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":2480,"wires":[["261b2ca1.b9af94","1e1794c9.a93a6b"]]},{"id":"1e1794c9.a93a6b","type":"debug","z":"21c7e77e.82bb88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":2440,"wires":[]},{"id":"7a6ff470.b46b8c","type":"http request","z":"21c7e77e.82bb88","name":"move motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/reverse?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":2540,"wires":[["261b2ca1.b9af94"]]}]