source/node-red/example_flows/ultrasonic_sensor/flows_ultrasonic_sensor_http_request.json
[{"id":"e28d2b5c.802df8","type":"distance","z":"44d0af2a.9ac92","name":"","x":360,"y":200,"wires":[["85607c08.2b838"]]},{"id":"85607c08.2b838","type":"debug","z":"44d0af2a.9ac92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":200,"wires":[]},{"id":"ac5e6797.b9a7c8","type":"inject","z":"44d0af2a.9ac92","name":"call","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":200,"wires":[["e28d2b5c.802df8"]]}]