source/node-red/example_flows/odometer/flows_odometer.json
[{"id":"ba23465b.44c178","type":"inject","z":"44d0af2a.9ac92","name":"call","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"loop2","payload":"start","payloadType":"str","x":190,"y":80,"wires":[["19e3627e.d4ee3e"]]},{"id":"19e3627e.d4ee3e","type":"http request","z":"44d0af2a.9ac92","name":"odometers","method":"GET","ret":"obj","paytoqs":"body","url":"http://localhost:5000/odometer/dist","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":80,"wires":[["9c5a12b3.18a6"]]},{"id":"9c5a12b3.18a6","type":"debug","z":"44d0af2a.9ac92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":80,"wires":[]}]