source/node-red/example_flows/move_in_rectangles/flows_move_in_rectangles.json
[{"id":"f89e446c.360e38","type":"subflow","name":"Rotate Anticlockwise","info":"","category":"","in":[{"x":80,"y":120,"wires":[{"id":"25c7097.13be1f6"}]}],"out":[{"x":760,"y":120,"wires":[{"id":"c062f686.e6e898","port":0},{"id":"733f0c64.ee3154","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b1c91d31.72531","type":"http request","z":"f89e446c.360e38","name":"move motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/reverse?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":240,"y":100,"wires":[[]]},{"id":"25c7097.13be1f6","type":"http request","z":"f89e446c.360e38","name":"move motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":240,"y":160,"wires":[["816d6266.6f3eb"]]},{"id":"816d6266.6f3eb","type":"delay","z":"f89e446c.360e38","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":120,"wires":[["c062f686.e6e898","733f0c64.ee3154"]]},{"id":"c062f686.e6e898","type":"http request","z":"f89e446c.360e38","name":"stop motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/stop?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":100,"wires":[[]]},{"id":"733f0c64.ee3154","type":"http request","z":"f89e446c.360e38","name":"stop motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/stop?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":140,"wires":[[]]},{"id":"b7bbf089.73c45","type":"comment","z":"f89e446c.360e38","name":"connect for quick-rotate!","info":"If this motor is connected, it makes backward movement, hence the rotation is quicker!","x":230,"y":60,"wires":[]},{"id":"e049d473.0715d8","type":"inject","z":"44d0af2a.9ac92","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"loop2","payload":"start","payloadType":"str","x":150,"y":420,"wires":[["36c3527a.4c006e","3a3719da.41b216"]]},{"id":"36c3527a.4c006e","type":"http request","z":"44d0af2a.9ac92","name":"move motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":400,"wires":[["4cf78e80.ba8f1"]]},{"id":"3a3719da.41b216","type":"http request","z":"44d0af2a.9ac92","name":"move motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":440,"wires":[[]]},{"id":"4cf78e80.ba8f1","type":"subflow:f89e446c.360e38","z":"44d0af2a.9ac92","name":"","env":[],"x":540,"y":420,"wires":[["2e7ee0b2.4e1a5","f8475335.a3d14"]]},{"id":"2e7ee0b2.4e1a5","type":"http request","z":"44d0af2a.9ac92","name":"move motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":400,"wires":[[]]},{"id":"f8475335.a3d14","type":"http request","z":"44d0af2a.9ac92","name":"move motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":740,"y":440,"wires":[["1d905b98.357604"]]},{"id":"1d905b98.357604","type":"subflow:f89e446c.360e38","z":"44d0af2a.9ac92","name":"","x":940,"y":420,"wires":[["4202dc4.ea8ee24","6c0d08ec.0ed7b8"]]},{"id":"4202dc4.ea8ee24","type":"http request","z":"44d0af2a.9ac92","name":"move motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":540,"wires":[["22635c95.7a3804"]]},{"id":"6c0d08ec.0ed7b8","type":"http request","z":"44d0af2a.9ac92","name":"move motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":580,"wires":[[]]},{"id":"22635c95.7a3804","type":"subflow:f89e446c.360e38","z":"44d0af2a.9ac92","name":"","x":460,"y":560,"wires":[["c45db714.a32ae8","e6fc0c01.9e2d4"]]},{"id":"c45db714.a32ae8","type":"http request","z":"44d0af2a.9ac92","name":"move motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":540,"wires":[["306ce426.6a2fcc"]]},{"id":"e6fc0c01.9e2d4","type":"http request","z":"44d0af2a.9ac92","name":"move motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":680,"y":580,"wires":[[]]},{"id":"306ce426.6a2fcc","type":"subflow:f89e446c.360e38","z":"44d0af2a.9ac92","name":"","x":880,"y":560,"wires":[["57579d04.36e524"]]},{"id":"57579d04.36e524","type":"debug","z":"44d0af2a.9ac92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":560,"wires":[]}]