source/node-red/example_flows/move_in_rectangles/flows_move_in_rectangles_using_only_subflows.json
[{"id":"de1b913e.81e","type":"subflow","name":"Rotate Clockwise","info":"","category":"","in":[{"x":160,"y":120,"wires":[{"id":"8a12aeb2.7fa47"}]}],"out":[{"x":840,"y":120,"wires":[{"id":"6b13b6c6.4cff98","port":0},{"id":"c6faa957.b571a8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"8a12aeb2.7fa47","type":"http request","z":"de1b913e.81e","name":"move motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":100,"wires":[["6571f08.b458d1"]]},{"id":"f98a48e.2e345b8","type":"http request","z":"de1b913e.81e","name":"move motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/reverse?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":320,"y":180,"wires":[[]]},{"id":"6571f08.b458d1","type":"delay","z":"de1b913e.81e","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":120,"wires":[["6b13b6c6.4cff98","c6faa957.b571a8"]]},{"id":"6b13b6c6.4cff98","type":"http request","z":"de1b913e.81e","name":"stop motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/stop?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":100,"wires":[[]]},{"id":"c6faa957.b571a8","type":"http request","z":"de1b913e.81e","name":"stop motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/stop?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":140,"wires":[[]]},{"id":"742bddc0.c9c9c4","type":"comment","z":"de1b913e.81e","name":"connect for quick-rotate!","info":"If this motor is connected, it makes backward movement, hence the rotation is quicker!","x":330,"y":220,"wires":[]},{"id":"fca907a4.47cbc8","type":"subflow","name":"Move Forward","info":"","category":"","in":[{"x":60,"y":140,"wires":[{"id":"f49ec1a0.5250d"},{"id":"891f1f02.c89b2"}]}],"out":[{"x":740,"y":140,"wires":[{"id":"451b415e.fddeb","port":0},{"id":"d408d3b2.7f5a1","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"f49ec1a0.5250d","type":"http request","z":"fca907a4.47cbc8","name":"move motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":240,"y":120,"wires":[["483a251d.fef00c"]]},{"id":"891f1f02.c89b2","type":"http request","z":"fca907a4.47cbc8","name":"move motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":240,"y":160,"wires":[["483a251d.fef00c"]]},{"id":"483a251d.fef00c","type":"delay","z":"fca907a4.47cbc8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":140,"wires":[["451b415e.fddeb","d408d3b2.7f5a1"]]},{"id":"451b415e.fddeb","type":"http request","z":"fca907a4.47cbc8","name":"stop motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/stop?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":120,"wires":[[]]},{"id":"d408d3b2.7f5a1","type":"http request","z":"fca907a4.47cbc8","name":"stop motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/stop?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":160,"wires":[[]]},{"id":"59e7d992.8e1fa8","type":"delay","z":"fca907a4.47cbc8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":260,"wires":[[]]},{"id":"56bd4e13.eb659","type":"subflow:fca907a4.47cbc8","z":"44d0af2a.9ac92","name":"","x":280,"y":700,"wires":[["e3da565c.0d7bf8"]]},{"id":"e3da565c.0d7bf8","type":"subflow:de1b913e.81e","z":"44d0af2a.9ac92","name":"","x":490,"y":700,"wires":[["d10ff430.b56cb8"]]},{"id":"d10ff430.b56cb8","type":"subflow:fca907a4.47cbc8","z":"44d0af2a.9ac92","name":"","x":700,"y":700,"wires":[["32351ccf.cd50b4"]]},{"id":"32351ccf.cd50b4","type":"subflow:de1b913e.81e","z":"44d0af2a.9ac92","name":"","x":890,"y":700,"wires":[["36335daa.dd5622"]]},{"id":"36335daa.dd5622","type":"subflow:fca907a4.47cbc8","z":"44d0af2a.9ac92","name":"","env":[],"x":280,"y":760,"wires":[["397a602.88052a"]]},{"id":"397a602.88052a","type":"subflow:de1b913e.81e","z":"44d0af2a.9ac92","name":"","x":490,"y":760,"wires":[["b01b087c.ffd688"]]},{"id":"65ea4e20.ffd8f","type":"subflow:de1b913e.81e","z":"44d0af2a.9ac92","name":"","x":890,"y":760,"wires":[["99267b00.8b6be8"]]},{"id":"b01b087c.ffd688","type":"subflow:fca907a4.47cbc8","z":"44d0af2a.9ac92","name":"","x":700,"y":760,"wires":[["65ea4e20.ffd8f"]]},{"id":"99267b00.8b6be8","type":"debug","z":"44d0af2a.9ac92","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1050,"y":760,"wires":[]},{"id":"7efca994.6a98f8","type":"inject","z":"44d0af2a.9ac92","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"loop2","payload":"start","payloadType":"str","x":130,"y":700,"wires":[["56bd4e13.eb659"]]}]