source/node-red/example_flows/flows_motors_move_using_rpi_nodes.json
[{"id":"c4894899.2fa198","type":"rpi-gpio out","z":"21c7e77e.82bb88","name":"Motor A: Enable","pin":"11","set":"","level":"0","freq":"50","out":"pwm","x":600,"y":480,"wires":[]},{"id":"867ffffa.b7329","type":"rpi-gpio out","z":"21c7e77e.82bb88","name":"Motor A: Forward","pin":"15","set":true,"level":"0","freq":"","out":"out","x":690,"y":520,"wires":[]},{"id":"8408dd58.1c6da","type":"rpi-gpio out","z":"21c7e77e.82bb88","name":"Motor A: Backward","pin":"13","set":true,"level":"0","freq":"","out":"out","x":690,"y":580,"wires":[]},{"id":"1f6d75db.466dfa","type":"inject","z":"21c7e77e.82bb88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"50","payloadType":"num","x":210,"y":380,"wires":[["2fc92ee9.33e352"]]},{"id":"1294d7c8.471188","type":"inject","z":"21c7e77e.82bb88","name":"Forward","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":120,"y":460,"wires":[["867ffffa.b7329","7d8cc8e2.184098","d14a9c27.dca6c"]]},{"id":"740051c7.e6a7","type":"inject","z":"21c7e77e.82bb88","name":"Backward","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":120,"y":540,"wires":[["867ffffa.b7329","90bfb630.8c96d8","d14a9c27.dca6c"]]},{"id":"2fc92ee9.33e352","type":"trigger","z":"21c7e77e.82bb88","name":"","op1":"50","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":380,"y":380,"wires":[["c4894899.2fa198","65eb1e5.3ce39e"]]},{"id":"65eb1e5.3ce39e","type":"rpi-gpio out","z":"21c7e77e.82bb88","name":"Motor B: Enable","pin":"19","set":"","level":"0","freq":"50","out":"pwm","x":600,"y":640,"wires":[]},{"id":"d14a9c27.dca6c","type":"rpi-gpio out","z":"21c7e77e.82bb88","name":"Motor B: Forward","pin":"21","set":true,"level":"0","freq":"","out":"out","x":690,"y":680,"wires":[]},{"id":"56c8d304.62621c","type":"rpi-gpio out","z":"21c7e77e.82bb88","name":"Motor B: Backward","pin":"23","set":true,"level":"0","freq":"","out":"out","x":690,"y":740,"wires":[]},{"id":"7d8cc8e2.184098","type":"change","z":"21c7e77e.82bb88","name":"invert","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":500,"wires":[["8408dd58.1c6da","56c8d304.62621c"]]},{"id":"90bfb630.8c96d8","type":"change","z":"21c7e77e.82bb88","name":"invert","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":580,"wires":[["56c8d304.62621c","8408dd58.1c6da"]]},{"id":"a487a713.da81c8","type":"inject","z":"21c7e77e.82bb88","name":"Rotate","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":640,"wires":[["a1927412.562b88","d14a9c27.dca6c","8408dd58.1c6da"]]},{"id":"a1927412.562b88","type":"change","z":"21c7e77e.82bb88","name":"invert","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":680,"wires":[["56c8d304.62621c","867ffffa.b7329"]]},{"id":"ccf112dc.33407","type":"inject","z":"21c7e77e.82bb88","name":"Rotate Other","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":130,"y":720,"wires":[["e51e8110.fcedb","56c8d304.62621c","867ffffa.b7329"]]},{"id":"e51e8110.fcedb","type":"change","z":"21c7e77e.82bb88","name":"invert","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":760,"wires":[["8408dd58.1c6da","d14a9c27.dca6c"]]}]