source/node-red/example_flows/flows_save_state.json
[{"id":"f89e446c.360e38","type":"subflow","name":"Rotate Anticlockwise","info":"","category":"","in":[{"x":80,"y":120,"wires":[{"id":"b1c91d31.72531"},{"id":"25c7097.13be1f6"}]}],"out":[{"x":760,"y":120,"wires":[{"id":"c062f686.e6e898","port":0},{"id":"733f0c64.ee3154","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"b1c91d31.72531","type":"http request","z":"f89e446c.360e38","name":"move motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/reverse?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":100,"wires":[["816d6266.6f3eb"]]},{"id":"25c7097.13be1f6","type":"http request","z":"f89e446c.360e38","name":"move motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":260,"y":140,"wires":[["816d6266.6f3eb"]]},{"id":"816d6266.6f3eb","type":"delay","z":"f89e446c.360e38","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":120,"wires":[["c062f686.e6e898","733f0c64.ee3154"]]},{"id":"c062f686.e6e898","type":"http request","z":"f89e446c.360e38","name":"stop motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/stop?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":100,"wires":[[]]},{"id":"733f0c64.ee3154","type":"http request","z":"f89e446c.360e38","name":"stop motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/stop?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":140,"wires":[[]]},{"id":"2be91ee8.e6b4b2","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"44406d30.01c714","type":"inject","z":"2be91ee8.e6b4b2","name":"start loop 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"loop2","payload":"start","payloadType":"str","x":110,"y":140,"wires":[["734fa59e.97ceec","f3ece189.d2786"]]},{"id":"734fa59e.97ceec","type":"http request","z":"2be91ee8.e6b4b2","name":"move motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":120,"wires":[["993d512a.408"]]},{"id":"f3ece189.d2786","type":"http request","z":"2be91ee8.e6b4b2","name":"move motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":160,"wires":[[]]},{"id":"993d512a.408","type":"subflow:f89e446c.360e38","z":"2be91ee8.e6b4b2","name":"","x":500,"y":140,"wires":[["933d4066.e493","5e9e5867.45dd18"]]},{"id":"933d4066.e493","type":"http request","z":"2be91ee8.e6b4b2","name":"move motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":120,"wires":[[]]},{"id":"5e9e5867.45dd18","type":"http request","z":"2be91ee8.e6b4b2","name":"move motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":700,"y":160,"wires":[["3c5cd1e4.c3016e"]]},{"id":"3c5cd1e4.c3016e","type":"subflow:f89e446c.360e38","z":"2be91ee8.e6b4b2","name":"","x":900,"y":140,"wires":[["779118e0.100e08","e93b0575.5f42d8"]]},{"id":"779118e0.100e08","type":"http request","z":"2be91ee8.e6b4b2","name":"move motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":220,"y":260,"wires":[["ac71b266.0b4f9"]]},{"id":"e93b0575.5f42d8","type":"http request","z":"2be91ee8.e6b4b2","name":"move motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":220,"y":300,"wires":[[]]},{"id":"ac71b266.0b4f9","type":"subflow:f89e446c.360e38","z":"2be91ee8.e6b4b2","name":"","x":420,"y":280,"wires":[["53feda2e.14a084","6c078527.a51dec"]]},{"id":"53feda2e.14a084","type":"http request","z":"2be91ee8.e6b4b2","name":"move motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":640,"y":260,"wires":[["27dc1631.22d19a"]]},{"id":"6c078527.a51dec","type":"http request","z":"2be91ee8.e6b4b2","name":"move motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":640,"y":300,"wires":[[]]},{"id":"27dc1631.22d19a","type":"subflow:f89e446c.360e38","z":"2be91ee8.e6b4b2","name":"","x":840,"y":280,"wires":[["a0729223.aeaff"]]},{"id":"a0729223.aeaff","type":"debug","z":"2be91ee8.e6b4b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":280,"wires":[]},{"id":"782b06fb.cc1df8","type":"comment","z":"2be91ee8.e6b4b2","name":"Auto Logger archiving","info":"Generate file name that are to be archived.\n\nIdea is that this generates a list of file names for let's say between current day-5 days to current day-10 days, so all files that are 5-10 days old will get archived. And this can be executed daily or weekly, and the interval allows some overlap (e.g. the program fails, Node-Red was down, etc.)\n\nInject node should contain a JSON:\n{    \n    \"start\": 20,    \n    \"end\": 10\n}\n\nThis will generate file names D-20 to D-10 days.\nStart should be greather than end!\n","x":120,"y":440,"wires":[]},{"id":"f14e2f71.1ad87","type":"function","z":"2be91ee8.e6b4b2","name":"Maplin Filename generator","func":"let output = [];\nfor (var i=msg.payload.end;i<msg.payload.start;i++) {\n    \n    // calculate the date\n    let now = new Date();\n    now.setTime(now.getTime() - 1000*60*60*24*i);\n    let yyyy = now.getFullYear();\n    let mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\n    let dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\n    let hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\n    let mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\n    let ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n    \n    let newfile = { \"topic\": \"archive\", \"payload\": \"\"};\n    // Generate out file name pattern\n    newfile.fname = \"maplin_\"+ yyyy + mm + dd + \".csv\";\n    // Full filename with path \n    newfile.filename = \"/home/pi/datalog/\"+ newfile.fname;\n    \n    // Shell script only needs the filename without the path\n    newfile.payload = newfile.fname;\n    output.push(newfile);\n\n}\n\nreturn [output];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":520,"wires":[["5ba61ce5.11d8a4"]]},{"id":"b57ab78e.cf1658","type":"function","z":"2be91ee8.e6b4b2","name":"Weather Station Filename generator","func":"let output = [];\nfor (var i=msg.payload.end;i<msg.payload.start;i++) {\n    \n    // calculate the date\n    let now = new Date();\n    now.setTime(now.getTime() - 1000*60*60*24*i);\n    let yyyy = now.getFullYear();\n    let mm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1); // getMonth() is zero-based\n    let dd  = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\n    let hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\n    let mmm  = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\n    let ss  = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n    \n    let newfile = { \"topic\": \"archive\", \"payload\": \"\"};\n    // Generate out file name pattern\n    newfile.fname = \"weather_sensor_\"+ yyyy + mm + dd + \".csv\";\n    // Full filename with path \n    newfile.filename = \"/home/pi/datalog/\"+ newfile.fname;\n    \n    // Shell script only needs the filename without the path\n    newfile.payload = newfile.fname;\n    output.push(newfile);\n\n}\n\nreturn [output];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":580,"wires":[["5ba61ce5.11d8a4"]]},{"id":"5e47f3b4.7c779c","type":"inject","z":"2be91ee8.e6b4b2","name":"Start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"40 02 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"{\"start\":20,\"end\":10}","payloadType":"json","x":110,"y":540,"wires":[["f14e2f71.1ad87","b57ab78e.cf1658"]]},{"id":"ad87fee.c53d5","type":"exec","z":"2be91ee8.e6b4b2","command":"/home/pi/log_upload.sh","addpay":"payload","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"File upload","x":710,"y":520,"wires":[[],[],["5f0f09f4.a09208"]]},{"id":"5f0f09f4.a09208","type":"switch","z":"2be91ee8.e6b4b2","name":"Return code","property":"payload.code","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":620,"wires":[[],["639dcab5.1028b4"]]},{"id":"49210be0.0dbbe4","type":"exec","z":"2be91ee8.e6b4b2","command":"sudo rm ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"File delete","x":1130,"y":520,"wires":[[],[],["1fee1de5.695e32"]]},{"id":"639dcab5.1028b4","type":"change","z":"2be91ee8.e6b4b2","name":"Get filename","rules":[{"t":"set","p":"payload","pt":"msg","to":"filename","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":520,"wires":[["49210be0.0dbbe4"]]},{"id":"1fee1de5.695e32","type":"switch","z":"2be91ee8.e6b4b2","name":"Return code","property":"payload.code","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":1350,"y":540,"wires":[[],[]]},{"id":"5ba61ce5.11d8a4","type":"delay","z":"2be91ee8.e6b4b2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":720,"wires":[["ad87fee.c53d5"]]},{"id":"9da5c02.66c844","type":"comment","z":"2be91ee8.e6b4b2","name":"log_upload.sh","info":"ftp -inv 192.168.1.x << EOF\n    user <username> <password>\n    binary\n    cd backup/logs\n    lcd /home/pi/datalog\n    put $1\nEOF","x":690,"y":460,"wires":[]},{"id":"457d9ad6.b737b4","type":"inject","z":"2be91ee8.e6b4b2","name":"single","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1160,"wires":[["1e05fafd.887b05"]]},{"id":"1e05fafd.887b05","type":"change","z":"2be91ee8.e6b4b2","name":"Generate single payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"distance\": $floor(100*$random())  }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1160,"wires":[["e9546682.b39898"]]},{"id":"e9546682.b39898","type":"csv","z":"2be91ee8.e6b4b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"distance","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":530,"y":1160,"wires":[["3a33a8d.cf8d158"]]},{"id":"ad426f59.6c436","type":"comment","z":"2be91ee8.e6b4b2","name":"measure distance and save to csv","info":"","x":250,"y":1120,"wires":[]},{"id":"3a33a8d.cf8d158","type":"file","z":"2be91ee8.e6b4b2","name":"write to file","filename":"/home/pi/Coding/gsoc2019-diyrobot/source/node-red/logs/distance.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":670,"y":1160,"wires":[["20d55835.111668"]]},{"id":"20d55835.111668","type":"debug","z":"2be91ee8.e6b4b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":1160,"wires":[]},{"id":"4517dd7f.7d7404","type":"inject","z":"2be91ee8.e6b4b2","name":"start loop 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"loop2","payload":"start","payloadType":"str","x":190,"y":880,"wires":[["7cca39e5.fdd348"]]},{"id":"a509b965.5db198","type":"switch","z":"2be91ee8.e6b4b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"30","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":880,"wires":[["f1b0e80d.869cb8"],[]]},{"id":"a19e8ea4.694d","type":"debug","z":"2be91ee8.e6b4b2","name":"","active":true,"console":"false","complete":"false","x":690,"y":820,"wires":[]},{"id":"f1b0e80d.869cb8","type":"delay","z":"2be91ee8.e6b4b2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":880,"wires":[["7cca39e5.fdd348"]]},{"id":"7cca39e5.fdd348","type":"change","z":"2be91ee8.e6b4b2","name":"Generate single payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"distance\": $floor(100*$random())  }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":880,"wires":[["a509b965.5db198","a19e8ea4.694d"]]},{"id":"c13a2f9f.3244","type":"function","z":"2be91ee8.e6b4b2","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\tcase \"start\":\n\t\tmsg.payload = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = \"loop:\" + context.loops;\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":1320,"wires":[["756f9d10.163974"],["71b84258.07ef2c"]]},{"id":"33901f47.87801","type":"delay","z":"2be91ee8.e6b4b2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":1380,"wires":[["c13a2f9f.3244"]]},{"id":"756f9d10.163974","type":"debug","z":"2be91ee8.e6b4b2","name":"","active":true,"console":"false","complete":"false","x":559,"y":1315,"wires":[]},{"id":"3cd404f5.1a77ac","type":"inject","z":"2be91ee8.e6b4b2","name":"start loop 2","repeat":"","crontab":"","once":false,"topic":"loop2","payload":"start","payloadType":"string","x":148,"y":1285,"wires":[["c13a2f9f.3244"]]},{"id":"1c7c46ac.737ab9","type":"inject","z":"2be91ee8.e6b4b2","name":"stop loop 2","repeat":"","crontab":"","once":false,"topic":"loop2","payload":"stop","payloadType":"string","x":150,"y":1361,"wires":[["c13a2f9f.3244"]]},{"id":"71b84258.07ef2c","type":"change","z":"2be91ee8.e6b4b2","name":"Generate single payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"distance\": $floor(100*$random())  }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":1420,"wires":[["3b1222da.d349de"]]},{"id":"3b1222da.d349de","type":"csv","z":"2be91ee8.e6b4b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"distance","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":490,"y":1420,"wires":[["81ad4996.8c6b38"]]},{"id":"81ad4996.8c6b38","type":"file","z":"2be91ee8.e6b4b2","name":"write to file","filename":"/home/pi/Coding/gsoc2019-diyrobot/source/node-red/logs/distance.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":630,"y":1420,"wires":[["33901f47.87801"]]},{"id":"f72c8392.4d277","type":"comment","z":"2be91ee8.e6b4b2","name":"loop and save values continiously to csv","info":"","x":259,"y":1237,"wires":[]},{"id":"7d570442.3b251c","type":"function","z":"2be91ee8.e6b4b2","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\tcase \"start\":\n\t\tmsg.payload = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = \"loop:\" + context.loops;\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":1580,"wires":[["99e43e22.58ba9"],["ba610374.a6c42"]]},{"id":"f44a31bd.0c7ee","type":"delay","z":"2be91ee8.e6b4b2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":1640,"wires":[["7d570442.3b251c"]]},{"id":"99e43e22.58ba9","type":"debug","z":"2be91ee8.e6b4b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":599,"y":1575,"wires":[]},{"id":"7ba2ce2c.9e4bb","type":"inject","z":"2be91ee8.e6b4b2","name":"start loop 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"loop2","payload":"start","payloadType":"str","x":188,"y":1545,"wires":[["7d570442.3b251c"]]},{"id":"877aecca.f161","type":"inject","z":"2be91ee8.e6b4b2","name":"stop loop 2","repeat":"","crontab":"","once":false,"topic":"loop2","payload":"stop","payloadType":"string","x":190,"y":1621,"wires":[["7d570442.3b251c"]]},{"id":"29f725ca.8c46aa","type":"csv","z":"2be91ee8.e6b4b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"distance","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":530,"y":1680,"wires":[["d6c12d6a.ea4ef"]]},{"id":"d6c12d6a.ea4ef","type":"file","z":"2be91ee8.e6b4b2","name":"write to file","filename":"/home/pi/Coding/gsoc2019-diyrobot/source/node-red/logs/distance.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":670,"y":1680,"wires":[["f44a31bd.0c7ee"]]},{"id":"6fb74721.92a908","type":"comment","z":"2be91ee8.e6b4b2","name":"measure values and save to csv #TODO: change message of distance node, ","info":"relative path","x":409,"y":1497,"wires":[]},{"id":"ba610374.a6c42","type":"distance","z":"2be91ee8.e6b4b2","name":"","x":380,"y":1680,"wires":[["29f725ca.8c46aa","b2502c77.1fe6d"]]},{"id":"b2502c77.1fe6d","type":"debug","z":"2be91ee8.e6b4b2","name":"","active":true,"console":"false","complete":"false","x":550,"y":1740,"wires":[]},{"id":"7e8bc8f3.c448b8","type":"function","z":"2be91ee8.e6b4b2","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\tcase \"start\":\n\t\tmsg.payload = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = \"loop:\" + context.loops;\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":1320,"wires":[["34b0ecf6.60dbe4"],["7ff35aef.94f624"]]},{"id":"30f1c55e.8bf51a","type":"delay","z":"2be91ee8.e6b4b2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":1380,"wires":[["7e8bc8f3.c448b8"]]},{"id":"34b0ecf6.60dbe4","type":"debug","z":"2be91ee8.e6b4b2","name":"","active":true,"console":"false","complete":"false","x":1259,"y":1315,"wires":[]},{"id":"376aa267.1fa91e","type":"inject","z":"2be91ee8.e6b4b2","name":"start loop 2","repeat":"","crontab":"","once":false,"topic":"loop2","payload":"start","payloadType":"string","x":848,"y":1285,"wires":[["7e8bc8f3.c448b8"]]},{"id":"3f13887a.547a88","type":"inject","z":"2be91ee8.e6b4b2","name":"stop loop 2","repeat":"","crontab":"","once":false,"topic":"loop2","payload":"stop","payloadType":"string","x":850,"y":1361,"wires":[["7e8bc8f3.c448b8"]]},{"id":"7ff35aef.94f624","type":"change","z":"2be91ee8.e6b4b2","name":"Generate single payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"distance\": 2 }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":1420,"wires":[["565e942e.266f0c"]]},{"id":"565e942e.266f0c","type":"csv","z":"2be91ee8.e6b4b2","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"distance","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":1190,"y":1420,"wires":[["425d9ad8.9e2404"]]},{"id":"425d9ad8.9e2404","type":"file","z":"2be91ee8.e6b4b2","name":"write to file","filename":"/home/pi/Coding/gsoc2019-diyrobot/source/node-red/logs/distance.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1330,"y":1420,"wires":[["30f1c55e.8bf51a"]]},{"id":"164781cf.f2ed9e","type":"debug","z":"2be91ee8.e6b4b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":1960,"wires":[]},{"id":"5187c93e.335d98","type":"inject","z":"2be91ee8.e6b4b2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1960,"wires":[["9f6afbb1.b5b668"]]},{"id":"9f6afbb1.b5b668","type":"http request","z":"2be91ee8.e6b4b2","name":"get state of robot","method":"GET","ret":"obj","paytoqs":"body","url":"http://localhost:5000/state","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":1960,"wires":[["164781cf.f2ed9e"]]},{"id":"2ee6f275.b7be6e","type":"function","z":"2be91ee8.e6b4b2","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\ncontext.loops = context.loops || 0;\n\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tcontext.loops = context.loops + 1;\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\tcontext.loops = 1;\n\t\t\treturn [msg,msg];\n\t\t}\n\tcase \"start\":\n\t\tmsg.payload = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\tcontext.loops = 1;\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tcontext.loops = context.loops + 1;\n\t\t\tmsg.payload = \"loop:\" + context.loops;\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":2180,"wires":[["aa7255a6.3fc9d8"],["8d8139f5.3b2a58"]]},{"id":"5661859a.f042ec","type":"delay","z":"2be91ee8.e6b4b2","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":2240,"wires":[["2ee6f275.b7be6e"]]},{"id":"aa7255a6.3fc9d8","type":"debug","z":"2be91ee8.e6b4b2","name":"","active":true,"console":"false","complete":"false","x":599,"y":2175,"wires":[]},{"id":"25a8efb4.50da6","type":"inject","z":"2be91ee8.e6b4b2","name":"start loop 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"loop2","payload":"start","payloadType":"str","x":188,"y":2145,"wires":[["2ee6f275.b7be6e"]]},{"id":"5d50315.1a28bd","type":"inject","z":"2be91ee8.e6b4b2","name":"stop loop 2","repeat":"","crontab":"","once":false,"topic":"loop2","payload":"stop","payloadType":"string","x":190,"y":2221,"wires":[["2ee6f275.b7be6e"]]},{"id":"e580458c.15f1d8","type":"csv","z":"2be91ee8.e6b4b2","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"dist_a, dist_b, dist_u, motor_a, motor_b, rev_a, rev_b","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":530,"y":2280,"wires":[["87d91acf.907f68"]]},{"id":"87d91acf.907f68","type":"file","z":"2be91ee8.e6b4b2","name":"write to file","filename":"/home/pi/Coding/gsoc2019-diyrobot/source/node-red/logs/state.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":670,"y":2280,"wires":[["5661859a.f042ec"]]},{"id":"763f8a29.578934","type":"comment","z":"2be91ee8.e6b4b2","name":"get state and save to state.csv","info":"relative path","x":269,"y":2097,"wires":[]},{"id":"79a794d9.c5e70c","type":"debug","z":"2be91ee8.e6b4b2","name":"","active":true,"console":"false","complete":"false","x":550,"y":2340,"wires":[]},{"id":"8d8139f5.3b2a58","type":"http request","z":"2be91ee8.e6b4b2","name":"get state of robot","method":"GET","ret":"obj","paytoqs":"body","url":"http://localhost:5000/state","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":2340,"wires":[["79a794d9.c5e70c","e580458c.15f1d8"]]}]
