source/node-red/example_flows/flows_stop_before_obstacle.json
[{"id":"f5199005.0090c","type":"inject","z":"21c7e77e.82bb88","name":"start loop 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"loop2","payload":"start","payloadType":"str","x":110,"y":4100,"wires":[["ab179927.132e58","692c6194.eca2c"]]},{"id":"7f55767c.7feb68","type":"inject","z":"21c7e77e.82bb88","name":"stop loop 2","repeat":"","crontab":"","once":false,"topic":"loop2","payload":"stop","payloadType":"string","x":150,"y":4200,"wires":[["cb7f9545.a43c08","3f25e7ec.604448"]]},{"id":"ab179927.132e58","type":"http request","z":"21c7e77e.82bb88","name":"move motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/reverse?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":4080,"wires":[["2982c80a.ffb888"]]},{"id":"692c6194.eca2c","type":"http request","z":"21c7e77e.82bb88","name":"move motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/reverse?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":4120,"wires":[[]]},{"id":"cb7f9545.a43c08","type":"http request","z":"21c7e77e.82bb88","name":"stop motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/stop?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":4200,"wires":[[]]},{"id":"3f25e7ec.604448","type":"http request","z":"21c7e77e.82bb88","name":"stop motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/stop?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":4240,"wires":[[]]},{"id":"b0413f1a.c8638","type":"switch","z":"21c7e77e.82bb88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":4100,"wires":[["badc19de.ee2158"],["cb7f9545.a43c08","3f25e7ec.604448"]]},{"id":"2982c80a.ffb888","type":"distance","z":"21c7e77e.82bb88","name":"","x":480,"y":4100,"wires":[["b0413f1a.c8638","a51051f.07debb"]]},{"id":"a51051f.07debb","type":"debug","z":"21c7e77e.82bb88","name":"","active":false,"console":"false","complete":"false","x":630,"y":4060,"wires":[]},{"id":"4bd40459.c3f7bc","type":"function","z":"21c7e77e.82bb88","name":"loop","func":"// Loop function\n// Top output provides triger for next actions\n// Botton output should be connected to the input through a dealy\n// The msg.payload can consis one of actions: start, stop, toggle\n// Other content is ignored\n// On the outoput the msg.payload contains current loop state\n\ncontext.loop = context.loop || \"stop\";\n\n//console.log(\"topic :\" + msg.topic);\n//console.log(\"loop  :\" + context.loop);\n//console.log(\"loops :\" + context.loops);\n//console.log(\"action:\" + msg.payload);\n\nswitch (msg.payload) {\n\tcase \"stop\":\n\t\tmsg.payload = \"stopped\";\n\t\tcontext.loop = \"stop\";\n\t\treturn [msg,null];\n\tcase \"toggle\":\n\t\tif (context.loop == \"start\") {\n\t\t\tmsg.payload = \"stopped\";\n\t\t\tcontext.loop = \"stop\";\n\t\t\treturn [msg,null];\n\t\t} else {\n\t\t\tmsg.payload = \"started\";\n\t\t\tcontext.loop = \"loop\";\n\t\t\treturn [msg,msg];\n\t\t}\n\tcase \"start\":\n\t\tmsg.payload = \"started\";\n\t\tcontext.loop = \"loop\";\n\t\treturn [msg,msg];\n\tdefault:\n\t\tif (context.loop == \"loop\") {\n\t\t\tmsg.payload = \"looping!\";\n\t\t\treturn [msg,msg];\n\t\t} else {\n\t\t\treturn [null,null]; \n\t\t}\n}","outputs":"2","noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":4100,"wires":[["3393b648.05988a"],["5bdb2c30.77c424"]]},{"id":"5bdb2c30.77c424","type":"delay","z":"21c7e77e.82bb88","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1130,"y":4100,"wires":[["2982c80a.ffb888"]]},{"id":"3393b648.05988a","type":"debug","z":"21c7e77e.82bb88","name":"","active":false,"console":"false","complete":"false","x":990,"y":4060,"wires":[]},{"id":"badc19de.ee2158","type":"change","z":"21c7e77e.82bb88","name":"keep loop","rules":[{"t":"set","p":"payload","pt":"msg","to":"start","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":4100,"wires":[["4bd40459.c3f7bc"]]}]