source/node-red/example_flows/flows_motors_move_using_flask_server_requests.json
[{"id":"3ac46bb.055dc94","type":"delay","z":"21c7e77e.82bb88","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":2280,"wires":[["acca9e1d.2bf1d","6afd5960.bebd58"]]},{"id":"39e95f58.87d77","type":"http request","z":"21c7e77e.82bb88","name":"move motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":2280,"wires":[["3ac46bb.055dc94","f6945d2a.70acc"]]},{"id":"acca9e1d.2bf1d","type":"http request","z":"21c7e77e.82bb88","name":"stop motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/stop?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":2280,"wires":[["1e6d0134.96767f"]]},{"id":"1e6d0134.96767f","type":"debug","z":"21c7e77e.82bb88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":2280,"wires":[]},{"id":"f6945d2a.70acc","type":"debug","z":"21c7e77e.82bb88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":2240,"wires":[]},{"id":"620227d3.57e228","type":"inject","z":"21c7e77e.82bb88","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":2280,"wires":[["39e95f58.87d77","6106d98b.be9ea8"]]},{"id":"6106d98b.be9ea8","type":"http request","z":"21c7e77e.82bb88","name":"move motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":380,"y":2340,"wires":[["3ac46bb.055dc94"]]},{"id":"6afd5960.bebd58","type":"http request","z":"21c7e77e.82bb88","name":"stop motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/stop?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":750,"y":2340,"wires":[["1e6d0134.96767f"]]}]