source/node-red/example_flows/motors_rotation/rotate_anticlockwise_version_A.json
[{"id":"c81a8735.6a5468","type":"inject","z":"21c7e77e.82bb88","name":"start loop 2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"loop2","payload":"start","payloadType":"str","x":150,"y":4220,"wires":[["bfca094a.6573e8","ebb47338.ddd89"]]},{"id":"bfca094a.6573e8","type":"http request","z":"21c7e77e.82bb88","name":"move motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/move?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":4200,"wires":[["69c8b062.bbbf"]]},{"id":"ebb47338.ddd89","type":"http request","z":"21c7e77e.82bb88","name":"move motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/reverse?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":4240,"wires":[["69c8b062.bbbf"]]},{"id":"69c8b062.bbbf","type":"delay","z":"21c7e77e.82bb88","name":"","pauseType":"delay","timeout":"750","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530,"y":4220,"wires":[["3c4c02de.384dee","98bfebdf.e80e78"]]},{"id":"3c4c02de.384dee","type":"http request","z":"21c7e77e.82bb88","name":"stop motor A","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/stop?name=motor_a","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":4200,"wires":[["1507bd00.0e2a33"]]},{"id":"98bfebdf.e80e78","type":"http request","z":"21c7e77e.82bb88","name":"stop motor B","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:5000/motor/stop?name=motor_b","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":4240,"wires":[["1507bd00.0e2a33"]]},{"id":"1507bd00.0e2a33","type":"debug","z":"21c7e77e.82bb88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":4220,"wires":[]}]